<h1>ユーザーの一覧です</h1>


<h2>Users</h2>
<table>
 	<tbody>
 	<tr>
 		<th>image</th>
 		<th>name</th>
 		<th></th>
 	</tr>
 	 <% @users.each do |user| %>
 	<tr>
 		<td></td>
 		<td><%= user.name %></td>
 	</tr>
 	<% end %>
 	</tbody>


